<ion-view hide-back-button="true">
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{title}}</h1>
    </ion-header-bar>

    <!---搜索框 end  -->
    <ion-content class="content">
        <div class="list">
            <div ng-repeat="item in sessions">
                <a class="item my-item"
                   ui-sref="message.detail({toUserId:selectUserId(item.users)})">
                    <img width="45px" height="45px"
                         ng-src="/images/icon2.jpg">

                    <p class="item_name">{{item.section_name}}</p>

                    <p class="item_tip">还是不错的</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>