<ion-tabs class="tabs-icon-top">
    <!-- Pets Tab -->
    <ion-tab title="消息" icon="icon ion-ios-chatboxes-outline" ui-sref="tab.private()">
        <ion-nav-view name="tab-private"></ion-nav-view>
    </ion-tab>

    <!-- Adopt Tab -->
    <ion-tab title="联系人" icon="icon ion-ios-person-outline" ui-sref="tab.friends()">
        <ion-nav-view name="tab-friends"></ion-nav-view>
    </ion-tab>

    <!-- About Tab -->
    <ion-tab title="分组" icon="icon ion-ios-people-outline" ui-sref="tab.groups()">
        <ion-nav-view name="tab-groups"></ion-nav-view>
    </ion-tab>
</ion-tabs>